html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#controls {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 12px;
}

button {
  display: block;
  margin: 5px 0;
  padding: 8px 12px;
  cursor: pointer;
}

label {
  display: block;
  margin: 5px 0;
  cursor: pointer;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
}

h4 {
  background-color: #004c78;
  padding: 4px 6px;
  color: white;
  margin-bottom: 4px;
  margin-top: 2px;
}

.esri-legend,
.esri-layer-list {
  opacity: 0.8;
}
